<?xml version="1.0" encoding="utf-8" ?>
<web-app>
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>cn.lzm.oa.servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SaveServlet</servlet-name>
        <servlet-class>cn.lzm.oa.servlet.LoginSaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveServlet</servlet-name>
        <url-pattern>/save</url-pattern>
    </servlet-mapping>
</web-app>